.card {
  background-color: white;
  width: 16rem;
  min-height: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.6rem solid var(--primary-yellow-color);
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.cardInner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cardTitle {
  color: black;
  text-align: center;
  padding: 0.3rem 0;
  text-transform: capitalize;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem;
}

.cardTypesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardFooter {
  text-align: center;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--primary-blue-color);
}

.link:hover {
  cursor: pointer;
  color: grey;
}
