.circleButton {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  border-radius: 100%;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circleButton--green {
  background-color: green;
}

.circleButton--red {
  background-color: red;
}

.circleButton:hover {
  cursor: pointer;
}
