.form {
  width: fit-content;
  background-color: var(--primary-blue-color);
  padding: 1rem;
}

.formHeader {
  text-align: center;
  background-color: var(--primary-yellow-color);
  padding: 1rem;
}

.formBody {
  background-color: var(--primary-blue-color);
  padding: 1rem;
}

.formGroup {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0.4rem 0;
}
