.card {
  background-color: white;
  width: 16rem;
  height: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0.6rem solid var(--primary-yellow-color);
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card__header {
  text-align: end;
}

.card__body {
  padding: 1rem 0;
}

.card__title {
  color: black;
  text-align: center;
  padding: 0.3rem 0;
  text-transform: capitalize;
}

.card__types-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.card__footer {
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.action-button {
  border: none;
  background: none;
}

.action-button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.more-link {
  color: var(--primary-blue-color);
}

.more-link:hover {
  cursor: pointer;
  color: grey;
}
