.d_flex {
  display: flex;
}

.container {
  width: 100%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.container_row {
  flex-direction: row;
}

.container_column {
  flex-direction: column;
}

.container__header {
  justify-content: space-between;
}

.container__inner {
  text-align: center;
}

.container__inner_header {
  flex-direction: column;
  padding: 1rem 0;
}

.container__title {
  text-transform: capitalize;
  margin: 2rem 0;
}

.container__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-transform: capitalize;
  gap: 0.4rem;
}

.container__list_row {
  flex-direction: row;
}

.container__list_column {
  flex-direction: column;
}

.container__list_progress li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
}

.boxes_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  text-align: center;
  margin: 0.5rem 0;
  gap: 1rem;
}

.box_colored {
  background-color: var(--primary-blue-color);
  margin: 0;
  border-radius: 1rem 1rem 0 0;
}

.box_header {
  background-color: var(--primary-yellow-color);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 0;
}

.box_body {
  border: 1rem 1rem 0 0;
  padding: 0 1rem;
}

.box_body ul li {
  display: flex;
  flex-direction: column;
}

.overflow_half {
  background-color: var(--primary-blue-color);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  width: 50%;
  height: 1rem;
}

.back_arrow {
  font-weight: 900;
  color: black;
  transition: 0.3s ease-in-out;
}

.back_arrow:hover {
  cursor: pointer;
  color: var(--primary-red-color);
}

.icon_wrapper {
  background: none;
  border: none;
}

.icon {
  transition: 0.3s ease-in-out;
}

.icon:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.input_pill {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: 0.1rem dashed rgb(43, 43, 43);
}
